@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

body {
  font-family: "Roboto", "Lato", sans-serif;
}

button,
input,
a,
li,
p {
  font-size: 2rem;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: black;
}

button,
.more {
  cursor: pointer;
  border: none;
  border-radius: 1rem;
  padding: 1rem 2rem;
  background: #3370e0;
  color: whitesmoke;
}

i,
svg {
  pointer-events: none;
}

header {
  min-height: 20vh;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header h2 {
  padding: 1rem;
}

header h2 a {
  font-size: 3rem;
  font-family: "Lato";
}

header form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

header form input {
  border: 2px solid #3370e0;
  border-radius: 1rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  outline: none;
  padding: 1rem;
  width: 40%;
  font-family: "Lato";
}

header form button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: 2px solid #3370e0;
}

.gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  -ms-grid-rows: (minmax(250px, 1fr))[auto-fill];
      grid-template-rows: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem;
  padding: 1rem 0;
}

.gallery-img {
  position: relative;
  font-size: 4rem;
}

.gallery-img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.gallery-info {
  position: absolute;
  bottom: 5%;
  width: 100%;
  padding: 1rem 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery-info a {
  display: inline-block;
  padding: 1rem;
  background: whitesmoke;
  border-radius: 1rem;
}

.nav-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 10vh;
  padding: 3rem;
}

@media screen and (max-width: 800px) {
  html {
    font-size: 45%;
  }
  header form input {
    width: 60%;
  }
}
/*# sourceMappingURL=style.css.map */